    {% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="my-4">Edit Question</h1>
                    <form method="POST" action="/admin/questions/edit/{{ question.slug }}" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                                <input type="text" class="form-control" placeholder="Name" aria-label="name" id="name" name="name" aria-describedby="basic-addon1" value="{{ question.name }}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Slug</span>
                                <input type="text" class="form-control" placeholder="Slug" aria-label="slug" id="slug" name="slug" aria-describedby="basic-addon1" value="{{ question.slug }}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Question</span>
                                <input type="text" class="form-control" placeholder="Question" aria-label="question" name="question" id="question" aria-describedby="basic-addon1" value="{{ question.question }}">
                            </div>

                            <button type="submit">Update</button>
                        </form>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block title %}

    {% endblock %}

